<section>
<button class="btn btn-primary" routerLink="/orders-list">SAVE</button>
  <form>
    <div class="form-group">
      <label class="center-block">Name:
        <input class="form-control" name="pass" [(ngModel)]="par.pass_phone">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Street:
        <input class="form-control" name="driver" [(ngModel)]="par.driver_phone">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Street:
        <input class="form-control" name="rating" [(ngModel)]="par.rating">
      </label>
    </div>
  </form>
</section>
